/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
	/* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
	--accent-color: rgba(255, 141, 203, 1);
	--color-header: rgba(255, 194, 230, 1);
	--color-rectengle: rgba(53, 52, 48, 1);
	--color-text: rgba(53, 52, 48, 1);
	--color-title: rgba(53, 52, 48, 1);
	--color-button: rgba(53, 52, 48, 1);
	--color-link: rgba(255, 194, 230, 1);
	--font-family: IBM Plex mono;
	--background-image-black: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
	:root {
		--accent-color: rgba(255, 141, 203, 1);
		--color-header: rgba(255, 194, 230, 1);
		--color-rectengle: rgba(53, 52, 48, 1);
		--color-text: rgba(53, 52, 48, 1);
		--color-title: rgba(53, 52, 48, 1);
		--color-button: rgba(53, 52, 48, 1);
		--color-link: rgba(255, 194, 230, 1);
		--font-family: IBM Plex mono;
		--background-image-black: url(../images/cover-image-light.png);
	}
}
